*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

/*background*/

  .container{
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./assets/images/abstract-gfa46b1c09_1920.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    margin: 0;
  }

/*navigation bar*/

  .navbar{
    height: 12%;
    display: flex;
    padding-top: 5%;
    align-items: center;
    justify-content: end;
  }

  .logo{
    width: 50px;
    cursor: pointer;
  }

  .menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
  }

  nav {
    flex: 1;
    text-align: right;
  }

  nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
  }

  nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
  }


  /*About me and button*/
  .row{
    display: flex;
    height: 88%;
    align-items: center;
    padding-top: 10%;
  }

  .col{
    flex-basis: 50%;
  }

  h1{
    color: #fff;
    font-size: 100px;
}

p{
  color: #fff;
  font-size: 15px;
  line-height: 15px;
}

button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

/*Card options and links*/

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing:border-box;
    cursor:pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transform:transition 0.5;
}

.card1{  
    background-image: url(assets/images/stars-g9be943996_1920.jpg);
    width: 20%;
    max-width: 30%;
}

.card2{
    background-image: url(assets/images/hd-wallpaper-g79eb77796_1920.jpg);
 width: 20%;
 max-width: 30%;
}

.card3{
    background-image: url(assets/images/stars-gebfa24674_1920.jpg);
    width: 20%;
    max-width: 30%;
}   

.card4{
    background-image: url(assets/images/orion-nebula-gb46286de9_1920.jpg);
    width: 20%;
    max-width: 100%;
}

.card:hover{
    transform:translateY(-10px);
}

h5{
    color: #fff;
    text-shadow: 0 0 5px;
    font-size: 25px;
}

/*Sections and explore options*/

.Github p{
  font-size: 100%;
}

.Github {
  margin: 20%;
}

.My-Resume p{
  font-size: 100%;
}

.My-Resume{
  margin: 20%;
}

.Works p{
  font-size: 100%;
}

.Works{
  margin: 20%;
}

.Contact p{
  font-size: 100%;
}

.Contact{
  margin: 20%;
}
